h1{
  text-align: center;
  color: white;
}
body{
     background-image: url('../imagens/Walp1.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}
input{
  margin-bottom: 3%;
}
#create{
 background-color: rgba(91, 191, 11, 0.8);
 color: white;
}
#read{
 background-color: rgba(207, 157, 0, 0.8);
 color: white;
}
.btn{
  font-size: 16px;
  color: white;
}
select{
     margin-bottom: 3%;
}
.botoes{
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
}
.corpo{
     margin-left: auto;
     margin-right: auto;
}
#voltar{
   background-color: rgba(255,102,204,0.8);
   color: white;
}