/* This is a CSS file */
input{
     margin-top: 15px;
}
select{
     margin-top: 30px;
}
.botoes{
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
}
.corpo{
     margin-left: auto;
     margin-right: auto;
}
#delete{
 background-color: rgba(255, 31, 11, 0.8);
 color: white;
}
#update{
 background-color: rgba(91, 153, 255, 0.8);
 color: white;
}
body{
     background-image: url('../imagens/Walp1.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}